body.index {
    > #background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: repeat-x;
        transition: opacity 0.5s ease;
    }

    > #main {
        max-width: 1000px;
        min-width: 600px;
        margin: 0 auto;
        position: relative;


        .teaser {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: 0;
        }

        > * {
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
            position: relative;
        }

        > .removing {
            transition: opacity 0.5s ease;
            opacity: 0;
        }

        > .entries {
            box-shadow: none;

            > * {
                box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
            }
        }
    }

    .hero {
        width: 100%;
        position: relative;
    }
}
