body.index {
    background-repeat: repeat-x;

    > .wrapper {
        max-width: 800px;
        margin: 0 auto;
        position: relative;

        > * {
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
        }

        > .removing {
            transition: opacity 0.2s ease;
            opacity: 0;
        }
    }

    .hero {
        width: 100%;
        position: relative;
    }

    .search {
        display: flex;
        margin: 30px 0;
        height: 50px;
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        border: 1px solid #ccc;
        transition: top 0.2s ease, margin-top 0.2s ease;

        .search-icon {
            flex: 0 0 auto;
            font-size: 2em;
            border: none;
            padding: 5px 10px;
            line-height: 40px;
            color: #ccc;

            &:after {
                content: "\e090";
                font-family: "Basic Icons";
                display: inline-block;
            }
        }

        input {
            outline: none;
            border: none;
            flex: 1 1 auto;
            line-height: 40px;
            padding: 5px 10px;
            font-family: inherit;
            font-size: 1.25em;
        }
    }
}
