body.catalog {
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: left, opacity;

    position: relative;
    left: 0;
    opacity: 1;

    #main {
        overflow: hidden;
        position: relative;

        /*&.detail-overlay-active {
            overflow-y: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }*/
    }

    form#search {
        margin-top: 0;
    }
}
